@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin:0;
  padding:0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#options{
  background-color: #5D0101;
  margin: 5%;
  margin-bottom: 5%;
  width: 100%;
  padding-bottom: 5%;
}

       select {
    background-color: #020D2B; /* Cor de fundo padrão */
  }

  select option:checked {
    background-color: #020D2B; /* Cor de fundo ao ser selecionado */
    color: white; /* Cor do texto para visibilidade */
  }
       #options option:checked {
    background-color: #020D2B;
    color: white; /* Define a cor do texto para melhor contraste */
  }
  .selected-option {
    background-color: #020D2B;
    color: white; /* Define a cor do texto para garantir visibilidade */
  }
.assistente {
  position: fixed;
  top: 50%; /* Você pode ajustar a posição vertical conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 5%; /* Defina a largura da div conforme necessário */
  height: 5%;
  transform: translateY(-50%); /* Para centralizar verticalmente */
  padding: 10px;
  border-radius: 5px;
}

.modal-dialog-side.modal-top-left {
  width: 30%;
  top: 10rem; /* Ajuste a distância do topo conforme necessário */
  left: 20rem; /* Ajuste a distância da esquerda conforme necessário */
  border-radius: 20px;
 
}
.icon-link {
  text-decoration: none;
 

}
/* styles.css */

.message-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#message-text {
  flex: 1;
  padding: 10px;
  border: none;
  resize: vertical;
  border-right: 1px solid #ccc;
}

ion-icon {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

#message-text-enter{
 animation: added 2s;
 border-radius: 10px;
 text-decoration: none;
 font-family: 'Montserrat', sans-serif;
 margin: 5%;
 background-color: transparent;
}
.modal-title{
  font-size: 18px;
  background-color: #5D0101;
}
.modal-header{
  background-color: #5D0101;
}
.message-container {
  position: relative;
  overflow: hidden;
  height: 100px;
  
}
.form-control {
  width: 150px;
  height: 50px;
  padding: 10px;
  resize: none;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.v-enter-active,
.v-leave-active {
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(100%);
    opacity: 0;
}

.v-leave-active {
  animation: added 1s reverse;
}

@keyframes added {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.azul {
  background-color:#020D2B;
}
#sobre{
  background-color:#020D2B;
  padding: 0 10% 0 8%;
  }
.imgs{
   width:50%;
   height:50%;
}

#guias{
  background-color: #5D0101;
  padding: 5% 5% 5% 5%
  }
  
#guias1{
  background-color:#5D0101;
  }

.livros{
  margin-right: 3%;
  padding:10% 0% 10% 0%;
    }
   
.botao:hover {
  background-color: #008CBA;
  color: white;
    }
   
.botao{
  padding-top: 15%;
  padding-bottom:15%;
  padding: 10px 24px;
  border-radius: 20px;
  color:#ffffff;
  border:none;
  cursor:pointer;
  transition: filter 0.2s;
  font-family: 'Forum', cursive;
  font-size: large;
  background-color: #020D2B;
  }
   
.thumbnail { 
  top:-50px; 
  left:-35px; 
  display:block;
  z-index:999; 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
    } 

.thumbnail:hover { 
  transform: scale(1.1);
   }

#mensagem{
  background-color:#020D2B;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 5%;
  }

#contato{
  background-color: #5D0101;
  display:inline-block;   
  }

#contato_img{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    background-color: #5D0101;   
    }

    @media (max-width:620px){
      #sobre_img{
     width: 70%;
     height: 70%;
      }
    }

    @media (max-width:620px){
     #titulo_mensagem{
      text-align: justify;
     }
      }
    
    @media (max-width:620px){
      #mundo_img{
     width: 80%;
     height: 80%;
      }
    }

    @media (min-width:620px){
      #buttao{
        padding-top: 55%;
        transition-duration: 0.4s;
        padding: 20px 48px;
        padding-top: 10%;
        border-radius: 20px;
        color:#ffffff;
        font-family: 'Forum', cursive;
         background-color: #020D2B;
      }
    }
 div h1{
  font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
  font-family: 'Forum', cursive;
  color:#ffffff;
  }

 div h2{
  padding-top: 5%;
  font-family: 'Aboreto', cursive;
  font-size: 1.25rem;
  font-weight: 300;
  color:white;
  word-spacing: 5px;
  letter-spacing: 5px;
   }

 div p{  
  padding-top: 5%;
  font-size: 1.25rem;
    font-weight: 300;
  font-family: 'Montserrat', sans-serif;

  color:white;
  }

#titulo_mensagem{    
  font-family: 'Forum', cursive;
  color:#ffffff;
      font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  text-align: center;
}
@media only screen and(min-width:800px) {
  #contato_imagem{
    background-size: cover;
    padding-left: 5%;
}
}
#titulo_contato{     
  font-family: 'Aboreto', cursive;
  font-size: 14px;
  font-weight: 150;
  color:white;
  word-spacing: 5px;
  letter-spacing: 5px;    
}

#rede_social{  
  font-family: 'Forum', cursive;
  font-size: 30px;
  color:white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#apostilas{
  display:inline;
  margin-right: 3%;
  padding-top: 10%;
  padding-bottom: 10%;
  display:block;
  z-index:999; 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease;
  padding-bottom: 10%;
  padding-top: 50%; 

}
.apostilas:hover { 
  transform: scale(1.1);
   }

#buttao{
  padding-top: 5%;
  transition-duration: 0.4s;
  padding: 10px 24px;
  border-radius: 20px;
  color:#ffffff;
  font-family: 'Forum', cursive;
   background-color: #020D2B;
}


@media only screen and (min-device-width: 800px){
  #apostilas{
    padding-bottom: 15%;
    padding-left: 5%;
    display: inline;
    width:25%;
    height:25%;
    }
  }


  .form-v6-content .form-detail .register {
    background: #020D2B;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 160px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin: 11px 0 50px 0px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}