@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@media (max-width: 510px) {
  body {
    background-image: url("/View/Imagens/fundo_celular.png");
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  widows: 100vw;
  background-image: url("/View/Imagens/fundo_sucesso.png");
}


#icones{
  width:50px;
  height:50px;
}
.cartao_icon{
  display:flex;
  gap:8px;
  border:1px solid #FFFFFF;
  border-radius: 20px;
}
.boleto_icon{
  display:flex;
  gap:8px;
  border:1px solid #FFFFFF;
  border-radius: 20px;
}
.pix_icon{
  display:flex;
  gap:8px;
  border:1px solid #FFFFFF;
  border-radius: 20px;
}
.flex-display{
  display:flex;
  gap:168px;
}
#boleto-card{
  display:flex;
  width:20%;
  border:1px solid #FFFFFF;
  border-radius: 20px;
}

#installments {
  display:flex;
  align-items:center;
  align-content:center;
}
#date {
  display: flex;
  gap:15px;
}

#expMonth,
#expYear,#cvv,#estado{
  width: 20%;
}

#phone{
  width:50%;
}

#phone_div{
  display:flex;
}
.hidden{
  display:none;
}
#EmailDiv {
  margin-top: 1%;
  padding-left: 5%;
}

#date-cvv {
  margin-left: 15%;
}

#pagamentos{
  display:flex;
}

#checkbox{
  width:25px;
  display:block;
}
#city{
  margin-left:50px;
}
#labels{
  display:block;
}
@media (min-width: 769px) {
#col {
    margin-left: 5%;
  }
#pagamentos{
  display:flex;
  gap:250px;
}
input,
option,
select{
  width:50%;
}
}

input,
option,
select,#boleto-card {
  font-family: "Montserrat", sans-serif;
}

.form-select,
.form-label,
#division {
  border-radius: 15px;
  font-size: small;
}

.form-label {
  font-size: medium;
  font-family: "Forum", cursive;
  padding-top: 15px;
}

#numeroCartao {
  max-height: 100px;
}

#valor {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: black;
  font-weight: 700;
}

#texto {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 350;
}

#titulo {
  font-family: "Forum", cursive;
  color: black;
  font-size: 25px;
}
#recomend {
  font-family: "Forum", cursive;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 5%;
}

#sobre {
  padding-top: 15px;
  padding-left: 8%;
}

#contato {
  padding-top: 15px;
  padding-left: 8%;
}
.payment {
  padding-left: 10%;
}
.title {
  padding-bottom: 5%;
  text-align: center !important;
}

.container__form {
  padding-top: 5px;
  padding-left: 24px;
}


.container {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding: 1px 2px;
}

.botao {
  display:flex;
  margin: 0 auto;
  margin-top: 5%;
  transition-duration: 0.4s;
  padding: 10px 24px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Forum", cursive;
  font-size: large;
  background-color: #020d2b;
}

#cvvError,#cardNumberError{
  font-size: medium;
  font-family: "Forum", cursive;
  color:#FFD700;
}

.content {
  height: 520px;
  width: 1100px;
  overflow: hidden;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card {
  width: 50%;
  border: 4px solid #198754;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#card2 {
  padding: 1.5em 0.5em 0.5em;
  text-align: justify;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.thumbnail {
  top: -50px;
  left: -35px;
  display: block;
  z-index: 999;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.bar {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background-color: white;
}

input {
  display: none;
}

.content {
  position: absolute;
  top: 470px;
}

/*change the number below to scale to the appropriate size*/
.thumbnail:hover {
  transform: scale(1.1);
}

section {
  width: 100%;
  display: inline-block;
  background: #023418;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #023418;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
