@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

#navbar {
  background-color: #020d2b;
  color: white;
  font-family: "Forum", cursive;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@media (max-width: 768px) {
  #searchResults li {
    width: 180px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }

  #search {
    padding-left: 5px;
  }
}

.autocomplete {
  display: flex;
}

@media (min-width: 768px) {
  #search {
    font-family: "Montserrat", sans-serif;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #5d0101;
    padding-left: 10px;
    font-size: 15px;
    background-color: #020d2b;
    color: white;
  }
}

#searchResults {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  width: 20%;
  z-index: 1;
}

#searchResults li {
  font-family: "Montserrat", sans-serif;
  padding: 8px 12px;
  cursor: pointer;
}

#searchResults li:hover {
  background-color: #5d0101;
}

#nav {
  background-color: #020d2b;
  font-family: "Forum", cursive;
}

.navbar-brand:hover {
  color: #5d0101;
}

#cart {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  border-radius: 50%;
}

.quantity_array{
  font-size: 20px;
  color: white;
  decoration: none;
}

.search {
  background-color: #5d0101;
}
