h1{
    padding-top: 10%;
    font-size: 50px;
    font-family: 'Corbel';
    color: black;
    text-align: center;
  }
  img{
   padding-left: 28%;
  }
.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.1); 

}